---
import Layout from '@/layouts/Layout.astro';

export const pageData = {
  title: '404 Not Found',
  description: 'お探しのページが見つかりませんでした。',
  htmlClass: 'page-404',
  pagePath: '/404.html',
};
---

<Layout pageData={pageData}>
  <div class="l-main__body">
    <div class="l-main__contents">
      <div class="l-container _narrow">
        <h1 class="c-heading _lv1">404 Not Found</h1>
        <p>お探しのページが見つかりませんでした。</p>
        <p><a href="/">トップページに戻る</a></p>
      </div>
    </div>
  </div>
</Layout>