@use '../../mixins/media-queries' as *;

// Display utilities
.u-d-none { display: none !important; }
.u-d-block { display: block !important; }
.u-d-inline { display: inline !important; }
.u-d-inline-block { display: inline-block !important; }
.u-d-flex { display: flex !important; }
.u-d-inline-flex { display: inline-flex !important; }

// Responsive display utilities
@include sm-screen {
  .u-d-sm-none { display: none !important; }
  .u-d-sm-block { display: block !important; }
  .u-d-sm-flex { display: flex !important; }
}

@include md-screen {
  .u-d-md-none { display: none !important; }
  .u-d-md-block { display: block !important; }
  .u-d-md-flex { display: flex !important; }
}

@include lg-screen {
  .u-d-lg-none { display: none !important; }
  .u-d-lg-block { display: block !important; }
  .u-d-lg-flex { display: flex !important; }
}