@use '../../variables/variables' as *;

.l-main {
  min-height: calc(100vh - 200px);

  &__outer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__body {
    flex: 1;
    padding: var(--spacing-2xl) 0;
  }

  &__contents {
    // Main content styles
  }
}